@use '../config' as *;

.flight-details-main-container {
    .flight-details-top-bar-wrapper {
        padding: 25px;
        text-align: left;
    }
    .flight-details-column-wrapper {
        display: flex;
        gap: 60px;
        padding: 16px;
        align-items: flex-start;
        flex-wrap: wrap;
        .flight-details-column {
            &:first-of-type {
                max-width: 300px;
                position: sticky;
                top: 48px;
                height: fit-content;
            }
            &:last-of-type {
                width: 75%;
                flex: 1;
            }
        }
    }
}